* {
    background-color: black;
    color: white;
}

#links {
    padding: 50px;
    text-align: center;
}

a {
    color: red;
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}